html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'TimesNewRomanRounded';
  src: url(../fonts/TimesNewRomanRounded-SemiBoldv1.0.otf);
}

@keyframes scroll{
  0% {transform: translateY(100vh);}
  10% {transform: translateY(0);}
  90% {transform: translateY(calc(-100% + 100vh));}
  100% {transform: translateY(-100%);}
}

@-webkit-keyframes scroll{
  0% {-webkit-transform: translateY(100vh);}
  10% {-webkit-transform: translateY(0);}
  90% {-webkit-transform: translateY(calc(-100% + 100vh));}
  100% {-webkit-transform: translateY(-100%);}
}

@keyframes mobilescroll{
  0% {transform: translateY(100vh);}
  100% {transform: translateY(-100%);}
}

@-webkit-keyframes mobilescroll{
  0% {-webkit-transform: translateY(100vh);}
  100% {-webkit-transform: translateY(-100%);}
}

html{
  background-color: #b9d3db;
}

body{
  font-family: 'TimesNewRomanRounded', serif;
  margin: 2rem auto 4rem auto;
  background-color: #b9d3db;
  /*background-color: #000;*/
}

#mobile_logo{
  display: none;
}

h1{
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 0.67em;
  margin-bottom: 2rem;
}

.logo{
  margin-bottom: 2rem;
  filter: blur(1px);
  width: 20rem;
  max-width: 100%;
}

.vcu.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 2rem;
}

#text_wrapper{
  position: relative;
  z-index: 5;
  perspective: 1000px;
}

.large{
  font-size: 1.5rem;
}

.third{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  text-align: center;
}

.location{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.about{
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.en .background_images img,
.sp .background_images img{
  opacity: 1;
  transform: scale(0.8);
}

.en .foreground_images img,
.sp .foreground_images img{
  transform: scale(0.8);
}

.between .foreground_images img{
  opacity: 1;
  transform: scale(1);
}

.between .background_images img{
  transform: scale(1);
}

.en #english{
  opacity: 1;
  transform: translateX(25%) rotateY(16deg) scale(1);
}

.en #spanish{
  opacity: 0;
  transform: translateX(25%) rotateY(16deg) scale(1);
}

.sp #spanish{
  opacity: 1;
  transform: translateX(-125%) rotateY(-16deg) scale(1);
}

.sp #english{
  opacity: 0;
  transform: translateX(-125%) rotateY(-16deg) scale(1);
}


.third{
  position: absolute;
  margin-bottom: 3rem;
  left: 50%;
  opacity: 0.5;
  transition: opacity ease-in-out 0.4s, transform cubic-bezier(.77,.01,.83,.67) 0.4s;
  -webkit-transition: opacity ease-in-out 0.4s, transform cubic-bezier(.77,.01,.83,.67) 0.4s;
}

.page_heading{
  position: fixed;
  color: #fff;
  top: 50%;
  font-size: 2rem;
  z-index: 100;
}

#english_heading{
  right: -1.5rem;
  transform: translateY(-50%) rotate(90deg);
}
#spanish_heading{
  left: -1.5rem;
  transform: translateY(-50%) rotate(-90deg);
}

#spanish{
  color: #0346a2;
  z-index: 2;
  transform: translateX(-50%) rotateY(0deg) scale(1);
  transform-origin: center;
}

#english{
  color: #0346a2;
  z-index: 2;
  transform: translateX(-50%) rotateY(0deg) scale(1);
  transform-origin: center;

}

.absolute_wrapper{
  position: relative;
  width: 100%;
}
.absolute{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.background_images{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.foreground_images{
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
}

.image_container{
  pointer-events: none;
}

.no_transition .image_inner_wrapper{
  transition: transform linear 0s;
  -webkit-transition: transform linear 0s;
}

.image_inner_wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  animation: scroll linear 40s infinite;
  -webkit-animation: scroll linear 40s infinite;
}

.image_container img{
  width: 12.5%;
  margin: 1rem;
  opacity: 0;
  /*transform: scale(0.8);*/
  transform-origin: center;
  display: inline-block;
  vertical-align: middle;
  transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s;
}

.site_credit{
  text-decoration: none;
  font-size: 0.5rem;
  transition: color ease-in-out 0.4s;
  z-index: 1000;
  color: #0346a2;
}

#image_marker{
  display: none;
}

@media (max-width: 1440px){
html{
  font-size: 28px;
}
}

@media (max-width: 1280px){
html{
  font-size: 22px;
}
}

@media (max-width: 1100px){
  html{
    font-size: 28px;
  }

  body{
    margin-top: 0;
  }

  .image_container img{
    width: calc(33.333% - 2rem);
  }

  .third{
    margin-top: 6rem;
    width: 50%;
  }

  .page_heading{
    font-size: 2rem;
    top: 4rem;
  }

  .button{
    z-index: 1000;
    top: 1rem;
    border: 0.1rem solid #fff;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
  }

  #image_marker{
    height: 3.2rem;
    top: 0.5rem;
    display: block;
  }

  #english_heading{
    right: 1rem;
    transform: translateY(0%) rotate(0deg);
  }
  #spanish_heading{
    left: 1rem;
    transform: translateY(0%) rotate(0deg);
  }

  #english, #english .about{
    text-align: right;
  }

  #spanish, #spanish .about{
    text-align: left;
  }

  .en #english{
    opacity: 1;
    transform: translateX(calc(0% - 1rem)) rotateY(0deg) scale(1);
  }

  .en #spanish{
    opacity: 0;
    transform: translateX(calc(0% - 1rem)) rotateY(0deg) scale(1);
  }

  .sp #spanish{
    opacity: 1;
    transform: translateX(calc(-100% + 1rem)) rotateY(0deg) scale(1);
  }

  .sp #english{
    opacity: 0;
    transform: translateX(calc(-100% + 1rem)) rotateY(-0deg) scale(1);
  }

  #image_marker{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.6rem;
  }

}

@media (max-width: 767px){
  html,
  body{
    font-size: 18px;
  }
  body{
    margin-top: 0rem;
    margin-bottom: 0;
  }

  header{
    position: sticky;
    position: -webkit-sticky;
    display: block;
    top: 0;
    left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: -1rem;
    width: calc(100% + 2rem);
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    z-index: 99;
  }

  .button#image_marker{
    display: none;
  }

  .button.page_heading{
    position: static;
    display: inline-block;
    width: auto;
    margin-top: 1.25rem;
  }

  .button.page_heading.selected{
    color: #b9d3db;
    background-color: #fff;
  }

  #english_heading{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .large{
    font-size: 1rem;
  }

  #image_marker{
    height: 2rem;
    padding: 0;
    left: auto;
    right: 1rem;
    transform: none;
    -webkit-transform: none;
  }

  header .page_heading{
    background-color: transparent;
    background: none;
    font-size: 1rem;
    width: 3rem;
    text-align: center;
  }

  #slider{
    height: 1rem;
  }

  #slider::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
  }

  #slider::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
  }

  .third{
    width: calc(100% - 2rem);
  }
  
  .image_container{
    z-index: 5;
  }

  .image_container img.mobile_image{
    display: block;
  }

  .image_container img{
    display: none;
    width: calc(100% - 2rem);
    margin-top: 0;
    opacity: 1;
    transform: scale(1) !important;
  }

  .image_inner_wrapper{
    animation: none;
    -webkit-animation: none;
  }

   #english, #english .about{
    text-align: left;
  }

  .third{
    position: static;
  }

  #text_wrapper{
    z-index: 50;
  }

  #english, #spanish{
    margin-top: 0rem;
    width: 70%;
    margin-left: 0;
    margin-bottom: 4rem;
    display: none;
    opacity: 1;
    transform: translate3d(0,0,0) scale(1) !important;
    z-index: 100;
  }

  .logo:not(.vcu){
    display: none;
  }

  #mobile_logo{
    display: block;
    margin-left: 1rem;
    width: calc(100% - 2rem);
  }

  .en,
  .sp,
  .between{
    margin: 0 1rem;
  }

  #english{
    display: block;
  }

  .en #english{
    display: block;
  }

  .sp #spanish{
    display: block;
  }

  .sp #english{
    display: none;
  }

  .between .foreground_images{
    display: block;
  }

  .foreground_images{
    position: fixed;
    top: 0;
    width: 50%;
    right: 0;
    left: auto;
    bottom: 0;
    height: 100%;
    display: block;
  }

  .background_images{
    display: none;
  }

  .image_inner_wrapper{
    position: relative;
    display: block;
    padding-top: 5rem;
    top: 0;
    animation: none;
    -webkit-animation: none;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }

  .mobile_animating .image_inner_wrapper{
    animation: mobilescroll linear 15s infinite;
    -webkit-animation: mobilescroll linear 15s infinite;
  }

  .between .image_inner_wrapper{
    pointer-events: auto;    
  }
}