html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'TimesNewRomanRounded';
  src: url(../fonts/TimesNewRomanRounded-SemiBoldv1.0.otf);
}

@keyframes scroll{
  from {transform: translateY(100vh);}
  to {transform: translateY(-100%);}
}

@-webkit-keyframes scroll{
  from {-webkit-transform: translateY(100vh);}
  to {-webkit-transform: translateY(-100%);}
}

html{
  font-size: 30px;
  background-color: #b9d3db;
}

body{
  font-family: 'TimesNewRomanRounded', serif;
  margin: 4rem auto;
  background-color: #b9d3db;
  /*background-color: #000;*/
  width: 45rem;
  text-shadow: 0rem 0rem 1px #000;
}

h1{
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 0.67em;
  margin-bottom: 2rem;
}

.logo{
  margin-bottom: 2rem;
  filter: blur(1px);
  width: 20rem;
}

#text_wrapper{
  position: relative;
  perspective: 1000px;
  z-index: 5;
}

.large{
  font-size: 1.5rem;
}

.third{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  text-align: center;
}

.location{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.about{
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.en #site_credit{
  color: #0346a2;
}

.sp #site_credit{
  color: #00a352;
}

.between #site_credit{
  color: #fbeb00;
}

.en .background_images img,
.sp .background_images img{
  opacity: 1;
  transform: scale(0.8);
}

.en .foreground_images img,
.sp .foreground_images img{
  transform: scale(0.8);
}

.between .foreground_images img{
  opacity: 1;
  transform: scale(1);
}

.between .background_images img{
  transform: scale(1);
}

.en #english{
  opacity: 1;
  transform: translateX(0rem) rotateY(16deg) scale(1);
}

.en #in_between{
  transform: translateX(33.33%) rotateY(16deg) scale(1);
}

.sp #spanish{
  opacity: 1;
  transform: translateX(0rem) rotateY(-16deg) scale(1);
}

.sp #in_between{
  transform: translateX(-33.33%) rotateY(-16deg) scale(1);
}

.between #in_between{
  opacity: 1;
}

.third{
  opacity: 0;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;
}

#in_between{
  margin-left: -10%;
  color: #fbeb00;
  position: relative;
  z-index: 1;
  transform: translateX(0) rotateY(0deg) scale(1.1);
  transform-origin: center;
}

.page_heading{
  position: fixed;
  color: #fff;
  top: 50%;
  font-size: 2rem;
  z-index: 100;
}

#english_heading{
  right: 0rem;
  transform: translateY(-50%) rotate(90deg);
}
#spanish_heading{
  left: 0rem;
  transform: translateY(-50%) rotate(-90deg);
}

#spanish{
  color: #00a352;
  position: relative;
  z-index: 2;
  transform: translateX(33.33%) rotateY(0deg) scale(1.1);
  transform-origin: center;
}

#english{
  margin-left: -10%;
  position: relative;
  color: #0346a2;
  z-index: 2;
  transform: translateX(-33.33%) rotateY(0deg) scale(1.1);
  transform-origin: center;

}

.absolute_wrapper{
  position: relative;
  width: 100%;
}
.absolute{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.background_images{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.foreground_images{
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
}

.image_container{
}

.image_inner_wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  animation: scroll linear 40s infinite;
  -webkit-animation: scroll linear 40s infinite;
}

.sp #scroll_speed_marker,
.en #scroll_speed_marker,
.sp #scroll_speed,
.en #scroll_speed{
  opacity: 0;
}

#scroll_speed_marker{
  position: fixed;
  bottom: 4rem;
  left: 50%;
  color: #ffffff;
  text-shadow: 0 0 1px #000;
  text-transform: uppercase;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  opacity: 1;

  transition: opacity ease 0.5s;
  -webkit-transition: opacity ease 0.5s;
}

#scroll_speed{
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10rem; /* Full-width */
  height: 2rem; /* Specified height */
  outline: none; /* Remove outline */
  background-color: rgba(255,255,255,0.5);
  border: 4px solid #fff;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  opacity: 1;
  transition: opacity ease 0.5s;
  -webkit-transition: opacity ease 0.5s;
}

#scroll_speed::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2rem; /* Set a specific slider handle width */
  height: 2rem; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

#scroll_speed::-moz-range-thumb {
  width: 2rem; /* Set a specific slider handle width */
  height: 2rem; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.image_container img{
  width: 12.5%;
  margin: 1rem;
  opacity: 0;
  /*transform: scale(0.8);*/
  transform-origin: center;
  display: inline-block;
  vertical-align: middle;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;
}

#site_credit{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  font-size: 0.5rem;
  transition: color ease-in-out 0.3s;
}

@media (max-width: 1440px){
html{
  font-size: 28px;
}
}

@media (max-width: 1280px){
html{
  font-size: 22px;
}
}

@media (max-width: 1100px){
html{
  font-size: 20px;
}
}

@media (max-width: 1000px){
html{
  font-size: 18px;
}
}